@charset "UTF-8"

.w10
	max-width: 10px
.w20
	max-width: 20px
.w30
	max-width: 30px
.w40
	max-width: 40px
.w50
	max-width: 50px
.w60
	max-width: 60px
.w70
	max-width: 70px
.w80
	max-width: 80px
.w90
	max-width: 90px
.w100
	max-width: 100px
.w110
	max-width: 110px
.w120
	max-width: 120px
.w130
	max-width: 130px
.w140
	max-width: 140px
.w150
	max-width: 150px
.w160
	max-width: 160px
.w170
	max-width: 170px
.w180
	max-width: 180px
.w190
	max-width: 190px
.w200
	max-width: 200px
.w210
	max-width: 210px
.w220
	max-width: 220px
.w230
	max-width: 230px
.w240
	max-width: 240px
.w250
	max-width: 250px
.w260
	max-width: 260px
.w270
	max-width: 270px
.w280
	max-width: 280px
.w290
	max-width: 290px
.w300
	max-width: 300px
.w310
	max-width: 310px
.w320
	max-width: 320px
.w330
	max-width: 330px
.w340
	max-width: 340px
.w350
	max-width: 350px
.w360
	max-width: 360px
.w370
	max-width: 370px
.w380
	max-width: 380px
.w390
	max-width: 390px
.w400
	max-width: 400px