#bloco_notificacao
	max-width: 500px
	.conteudo li
		width: 100%
	.conteudo li a
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		padding: 10px 20px
		border-bottom: 1px solid #EEE
	.conteudo li a figure
		width: 40px
		height: 40px
		margin-right: 20px
		background-position: center center
		background-size: cover
		border-radius: 50%
	.conteudo li a .texto
		display: flex
		flex-direction: column
		flex-grow: 1
		flex-basis: 0
	.conteudo li a .texto h1
		font-size: 1.5em
		color: #333
		font-weight: 600
		font-family: Roboto
	.conteudo li a time
		font-size: 1.2em
		color: #555
		margin: 3px 0 5px 0
	.conteudo li a .texto p
		line-height: 1.5em
		font-size: 1.5em
		color: #333
	.conteudo li a .status
		width: 8px
		height: 8px
		border-radius: 50%
		margin: 0 10px
	.conteudo li.todos
		width: 100%
	.conteudo li.todos a
		width: 100%
		height: 30px
		line-height: 30px
		font-size: 1.2em
		color: #333
		background-color: #DDD
