@charset "UTF-8"

@import "../geral/resetar.styl"
@import "../geral/variaveis.styl"
@import "../geral/mixins.styl"
/* PLUGINS*/

$menu_height = 60px
$cor_menu_hover = #448bff

@import "../geral/Alerta.class.styl"
@import "../geral/Ajuda.class.styl"
@import "../geral/Loading.class.styl"
@import "../geral/Pagina.class.styl"
@import "classes.styl"

body
	font-family: 'Roboto', sans-serif
	background-color: #F9F9F9

//--------------------------------------------------------------------------
// ICONES
//--------------------------------------------------------------------------
icone(painel)
i
	font-family: painel
	text-align: center
i::after
	content: attr(data-font)

//--------------------------------------------------------------------------
// CLASSES GERAIS
//--------------------------------------------------------------------------
.flex_grow
	flex-grow: 1
	flex-basis: 0
.dragdrop
	cursor: move

//--------------------------------------------------------------------------
// MOSTRA OU SOME AS CLASSES DEPENDENDO DO TAMANHO DA TELA
//--------------------------------------------------------------------------
.mobile
	display: none
.desktop
	display: flex
@media screen and (max-width:1000px)
	.mobile
		display: flex
	.desktop
		display: none

//--------------------------------------------------------------------------
// CHECKBOX
//--------------------------------------------------------------------------
.bloco_checkbox
	width: 18px
	height: 18px
	position: relative
	display: flex
	cursor: pointer
	input
		display: none
	span
		width: 18px
		height: 18px
		line-height: 15.9px
		text-align: center
		border: 2px solid $checkbox
		font-size: 1.2em
		color: #FFF
		margin: 0
		padding: 0
		border-radius: 3px
.bloco_checkbox.checked span
	background-color: $checkbox
	&::after
		content: "\e819"
		font-family: painel

//--------------------------------------------------------------------------
// COPIAR
//--------------------------------------------------------------------------
.bloco_copiar
	display: flex
	justify-content: center
	align-items: center
	span
		width: calc(100% - 21px)
		word-wrap: break-word
		padding-right: 10px
	input.input_copiar
		width: 1px
		height: 1px
		opacity: 0
	i.botao_copiar
		width: 20px
		height: 20px
		line-height: 18px
		border: 1px solid #DDD
		border-radius: 3px
		font-size: 0.8em
		cursor: pointer

//--------------------------------------------------------------------------
// HEADER COM LINHA BOTTOM
//--------------------------------------------------------------------------
.header_linha_botton
	width: 100%
	height: 50px
	position: absolute
	top: 0
	left: 0
	display: flex
	flex-direction: row
	align-items: center
	border-bottom: 1px solid #DDD
	background: #FFF
	i
		width: 30px
		height: 30px
		justify-content: center
		align-items: center
		cursor: pointer
		color: #666
		z-index: 2
	.mobile
		font-size: 1.2em
		margin: 0 -10px 0 10px
	.desktop
		font-size: 1.4em
		margin-right: 10px
	h1
		flex-grow: 1
		flex-basis: 0
		font-size: 1.6em
		padding: 0 20px

//--------------------------------------------------------------------------
// HEADER PADRAO
//--------------------------------------------------------------------------
.bloco_header_padrao
	width: 100%
	height: 50px
	display: flex
	flex-direction: row
	border-bottom: 1px solid #EEE
	background: #FFF
	a.voltar
		width: 50px
		height: 50px
		display: flex
		justify-content: center
		align-items: center
		font-size: 1.6em
	h1
		height: 50px
		line-height: 50px
		flex-grow: 1
		flex-basis: 0
		font-size: 1.8em
		padding: 0 20px

.bloco_add_padrao .bloco_header_padrao
.bloco_visualizar_padrao .bloco_header_padrao
	h1
		margin-left: 0



#site
	width: 100%
	min-height: 100vh
	display: flex
	flex-direction: column


#conteudo_principal
	width: 100%
	padding-left: 250px
	margin-top: $menu_height
	display: flex
	flex-direction: column
	align-items: center
	z-index: 1

//--------------------------------------------------------------------------
// HEADER PRINCIPAL
//--------------------------------------------------------------------------
#header_principal
	width: 100%
	height: $menu_height
	position: fixed
	top: 0
	left: 0
	z-index: 2
	padding: 0 20px 0 250px
	display: flex
	flex-direction: row
	align-items: center
	background-color: #F9F9F9
	transition: box-shadow 1s ease-out
	&.ativo
		box-shadow: 0 2px 3px rgba(0,0,0,.05)
	.voltar_hidden
		width: 20px
		height: 40px
	i.voltar
		width: 40px
		height: 40px
		line-height: 40px
		position: relative
	i.voltar a
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
	h1
		height: 40px
		line-height: 40px
	h1 .subtitulo
		font-size: 1.2em
	h1 .subtitulo a
		color: $link
		&:hover
			text-decoration: underline
	h1 .titulo
		font-size: 2em
		color: #666
	.botao_bug
		color: #999
		font-size: 1.2em
		cursor: pointer
		&:hover
			color: $alerta
	.botao_notificacao
		width: 30px
		height: 30px
		line-height: 27px
		position: relative
		border-radius: 50%
		color: #999
		border-radius: 50%
		margin: 0 20px
		font-size: 1.6em
		cursor: pointer
		&.alerta
			animation: notificacao_sino 1.5s infinite linear
	.botao_notificacao .notificacao
		width: 30px
		height: 30px
		top: 0
		left: 0
		position: absolute
	.botao_notificacao span.bola
		width: 6px
		height: 6px
		position: absolute
		top: 3px
		right: 3px
		background-color: $alerta
		border-radius: 50%
		display: none
	.botao_notificacao.alerta span.bola
		display: block
	.botao_notificacao span.animacao
		position: absolute
		animation: notificacao_alerta 5s linear 0s infinite
		border-radius: 50%
		display: none
	.botao_notificacao.alerta span.animacao
		display: block
	figure
		width: 40px
		height: 40px
		border-radius: 50%
		cursor: pointer
@keyframes notificacao_alerta
	0%
		width: 0
		height: 0
		top: 3px
		right: 3px
	80%
		width: 6px
		height: 6px
		border: 1px solid $alerta
		opacity: 1
		top: 3px
		right: 3px
	100%
		width: 26px
		height: 26px
		border: 3px solid $alerta
		opacity: 0
		top: -7px
		right: -7px

@keyframes notificacao_sino
	0%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)
	6.25%
		-webkit-transform: rotate(-2deg)
		transform: rotate(-2deg)
	12.5%
		-webkit-transform: rotate(5deg)
		transform: rotate(5deg)
	18.75%
		-webkit-transform: rotate(-10deg)
		transform: rotate(-10deg)
	25%
		-webkit-transform: rotate(15deg)
		transform: rotate(15deg)
	31.25%
		-webkit-transform: rotate(-20deg)
		transform: rotate(-20deg)
	37.5%
		-webkit-transform: rotate(25deg)
		transform: rotate(25deg)
	43.75%
		-webkit-transform: rotate(-30deg)
		transform: rotate(-30deg)
	50%
		-webkit-transform: rotate(35deg)
		transform: rotate(35deg)
	56.25%
		-webkit-transform: rotate(-30deg)
		transform: rotate(-30deg)
	62.5%
		-webkit-transform: rotate(25deg)
		transform: rotate(25deg)
	68.75%
		-webkit-transform: rotate(-20deg)
		transform: rotate(-20deg)
	75%
		-webkit-transform: rotate(15deg)
		transform: rotate(15deg)
	81.25%
		-webkit-transform: rotate(-10deg)
		transform: rotate(-10deg)
	87.5%
		-webkit-transform: rotate(5deg)
		transform: rotate(5deg)
	93.75%
		-webkit-transform: rotate(-2deg)
		transform: rotate(-2deg)
	100%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)

@media screen and (max-width:1000px)
	#header_principal
		form
			display: none
		.botao_notificacao span
			width: 15px
			height: 15px
			top: -3px
			right: -3px
			background-color: $alerta
			animation: none
//--------------------------------------------------------------------------
// MENU PRINCIPAL
//--------------------------------------------------------------------------
#botao_menu_principal
	width: 100%
	max-width: 250px
	height: $menu_height
	position: fixed
	top: 0
	left: 0
	background-color: #FFF
	display: flex
	flex-direction: row
	align-items: center
	z-index: 4
	i
		width: 35px
		height: 35px
		line-height: 35px
		text-align: center
		font-size: 1.7em
		margin: 0 10px
		color: #999
		cursor: pointer
	figure
		opacity: .5


#menu_principal
	width: 100%
	max-width: 250px
	height: calc(100vh - 60px)
	position: fixed
	top: $menu_height
	left: 0
	background-color: #FFF
	overflow-x: hidden
	overflow-y: auto
	direction: rtl
	z-index: 3
	> ul
		width: 100%
		max-width: 250px
		min-height: 100%
		padding-top: 20px
		direction: ltr
	> ul > li
		width: 100%
		margin-bottom: 10px
		cursor: pointer
	> ul > li i.icone
		width: 40px
		height: 40px
		line-height: 40px
		margin-left: 10px
		text-align: center
		font-size: 1.3em
		color: #666
	> ul > li.titulo
		padding-left: 20px
		color: #888
		font-size: 1.2em
		margin-top: 20px
	> ul > li.menu a
		height: 40px
		line-height: 40px
		color: #666
		display: flex
	> ul > li.menu a.hover i
	> ul > li.menu a.hover p
		color: $cor_menu_hover
		font-weight: bold
	> ul > li.menu a p
		font-size: 1.4em
	> ul > li.dropdown
		display: flex
		flex-direction: row
		flex-wrap: wrap
	> ul > li.dropdown > p
		width: 100%
		position: relative
		height: 40px
		line-height: 40px
		font-size: 1.4em
		color: #666
		display: flex
	> ul > li.dropdown.hover > p
		color: $cor_menu_hover
		font-weight: bold
	> ul > li.dropdown > p i.seta
		position: absolute
		right: 25px
		color: #999
	> ul > li.dropdown > p i.seta::after
		content: "\f105"
	> ul > li.dropdown.ativo > p i.seta::after
		content: "\e810"
	> ul > li.dropdown.hover > p i.seta
		color: $cor_menu_hover
	> ul > li.dropdown.hover > p i.icone
		color: $cor_menu_hover
	> ul > li.dropdown ul
		width: 100%
		height: 0
		overflow: hidden
	> ul > li.dropdown.ativo ul
		height: auto
	> ul > li.dropdown ul li
		width: 100%
		height: 40px
		line-height: 40px
		display: flex
	> ul > li.dropdown ul li a
		width: 100%
		padding-left: 50px
		font-size: 1.2em
		color: #666
	> ul > li.dropdown ul li a:hover
	> ul > li.dropdown ul li a.hover
		background-color: #FBFBFB

//--------------------------------------------------------------------------
// MENU SECUNDÁRIO
//--------------------------------------------------------------------------
#menu_secundario
	width: 100%
	height: 100vh
	position: fixed
	top: 0
	left: 0
	background-color: rgba(0,0,0,.7)
	z-index: 5
	display: none
#menu_secundario .conteudo
	width: 100%
	max-width: 300px
	height: 100vh
	position: absolute
	top: 0
	right: 0
	padding-top: 50px
	background-color: #FFF
	box-shadow: -10px 10px 20px rgba(0,0,0,.2)
	overflow-x: hidden
	overflow-y: auto
	display: flex
	flex-direction: column
	align-items: center
	figure
		width: 100px
		height: 100px
		border-radius: 50%
		margin-top: 20px
		overflow: hidden
		background-position: center center
		background-repeat: no-repeat
	> p
		width: 100%
		font-size: 1.6em
		text-align: center
		margin: 10px 0 40px 0
	.linha
		width: 100%
		height: 1px
		background-color: #DDD
		margin: 10px 0
	a
		width: 100%
		height: 40px
		line-height: 40px
		padding: 0 20px
		font-size: 1.4em
		color: #666
		display: flex
		&:hover
			background-color: #F9F9F9
	a i
		width: 40px
		height: 40px
@media screen and (max-width:1000px)
	#menu_secundario
		background-color: rgba(0,0,0,0)
		.conteudo
			max-width: 100%

.bloco_paginacao
	width: 100%
	margin: 20px 0 40px 0
	display: flex
	justify-content: center
	align-items: center
	.conteudo
		background-color: #FFF
		border-radius: 3px
		display: flex
		flex-direction: row
		border-radius: 4px
		overflow: hidden
		box-shadow: 0 0 5px rgba(0,0,0,.1)
	.conteudo a
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		font-size: 1.4em
		background-color: #FFF
		color: #666
		&.texto
			width: auto
			padding: 0 10px
		&:hover
			background-color: #F9F9F9
	.conteudo span
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		font-size: 1.4em
		font-weight: bold
		background-color: #EEE
		color: #666
		cursor: default
		&.texto
			width: auto
			padding: 0 10px
	.conteudo span.texto:first-child
		margin-right: 1px
	.conteudo span.texto:last-child
		margin-left: 1px

.bloco_popup_padrao
	width: calc(100% - 40px)
	display: flex
	margin: 20px 0
	position: relative
	border-radius: 4px
	overflow: hidden
	background-color: #FFF
	box-shadow: 0 0 5px rgba(0,0,0,.5)
	.conteudo
		width: 100%
		padding-top: 50px

@import "app_index.styl"
@import "app_form.styl"
@import "app_buscar.styl"




/* TEMP */
@import "notificacao.styl"
@import "perfil.styl"
