@charset "UTF-8"

@import "../geral/resetar.styl"
@import "../geral/variaveis.styl"
@import "../geral/mixins.styl"
/* PLUGINS*/
@import "../geral/Loading.class.styl"
@import "../geral/Contato.class.styl"
@import "../geral/Pagina.class.styl"
@import "../geral/Formulario.class.styl"
@import "../geral/Alerta.class.styl"
@import "../geral/Ajuda.class.styl"
@import "../geral/plugins.styl"

html,
body
    overflow-x:hidden

body
    background: #f6f6f6
    font-family: 'Sarala', sans-serif
    font-size: 62.5%
    overflow-x: hidden
a
    cursor: pointer
    text-decoration: none

icone(site, 1)

i:after
    width: 100%
    height: 100%
    text-align: center
    content: attr(data-font)
    font-family: site

#site
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    position: relative


/*
    ANIMAÇÕES
*/
.fade-in
    animation: fadeIn ease 20s
.fadeInDown
    animation: fadeInDown ease 1s

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fadeInDown
    0%
        opacity: 0
        transform: translateY(-20px)

    100%
        opacity: 1
        transform: translateY(0)

@keyframes moveImagem
    0%
        left: 0
    100%
        left: -2850px

.centro
    width: 100%
    max-width: 1200px


#conteudo_principal
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    .centraliza--conteudo_principal
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        position: relative

@media screen and (max-width: 1300px)
    #conteudo_principal
        width: 100%
        justify-content: center
        .centraliza--conteudo_principal
            min-height: calc(100vh - 200px)

@media screen and (max-width: 730px)
    #conteudo_principal .centraliza--conteudo_principal
        margin-top: 10px


@import "template.styl"