/public/arquivos
.DS_Store
._*
.ftp*
.vscode
package-lock.json
/node_modules
.env.*
!.env.homologacao
!/.padrao/*
/files/mysql
/public/error_log
/public/database
/painel/error_log
/painel/.config/producao.php
/painel/node_modules
/resources/css/geral/cor.styl
/public/.well-known
/public/images/wetransfer