@charset "UTF-8"

@import "../../geral/mixins.styl"
@import "../../geral/variaveis.styl"

body 
    background-color: #F6F6F6
    font-family: 'Roboto', sans-serif

.corpo 
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.corpo form 
    width: calc(100% - 40px)
    max-width: 400px
    background-color: #FFF
    margin-top: 80px
    padding: 20px 20px 20px 3px
    box-shadow: 0 5px 5px rgba(0,0,0,.1)
    border-radius: 3px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.corpo form figure 
    width: 100%
    padding-left: 20px
    &.logo
        display: flex
        align-items: center
        justify-content: center

.corpo form fieldset 
    width: 100%
    margin-top: 20px
    border-left: 4px solid $azul_padrao
    flex-direction: column

.corpo form fieldset input 
    width: calc(100% - 10px)
    height: 40px
    margin-left: 10px
    padding: 0 10px
    color: #666
    font-size: 1.4em
    border-radius: 2px
    border: 1px solid  $azul_padrao
    background-color: #FFF

.corpo form fieldset input:last-child 
    margin-top: 15px

.corpo form fieldset input.hide 
    width: 1px
    height: 1px
    position: absolute
    top: -9999px
    left: -9999px
    opacity: 0

.corpo form p 
    width: 100%
    padding-left: 14px

.corpo form p.senha 
    margin: 10px 0

.corpo form p.senha a 
    font-size: 1.2em
    color:  $azul_padrao

.corpo form p.senha a:hover 
    text-decoration: underline

.corpo form p.ativar 
    text-align: center
    margin: 30px 0 10px 0

.corpo form p.ativar a 
    color: #999
    font-size: 1.4em

.corpo form p.filiese 
    text-align: center
    margin: 10px 0 10px 0

.corpo form p.filiese a 
    color: #999
    font-size: 1.4em

.corpo form button 
.corpo form input[type="submit"] 
    width: calc(100% - 14px)
    max-width: 140px
    height: 40px
    line-height: 40px
    font-size: 1.2em
    color: #FFF
    background-color:  $azul_padrao
    border-radius: 3px
    margin-left: 14px
    margin-top: 40px

.volta 
    width: 100%
    max-width: 200px
    height: 40px
    line-height: 40px
    border: 1px solid #CCC
    font-size: 1.1em
    color: #999
    text-align: center
    margin-top: 40px
    border-radius: 3px

.bloco__label
    width: 100%
    position: relative
    padding-top: 13px
    margin-top: 5px
    input
    select
        width: 100%
        height: 40px
        display:block
        font-size: 1.2em
        padding: 4px 4px
        background-color: transparent
        border: none
        border:1px solid #757575
        border-radius: 3px
        &:focus
            outline:none
            border: 1px solid #003366
        &:placeholder
            color:transparent
        &:focus ~ .bar:before,
        :focus ~ .bar:after
            width:50%
        &:focus ~ .highlight 
            animation: inputHighlighter 0.3s ease
    input:not(:placeholder-shown) ~ label,
    input:focus ~ label
        top: 8px
        font-size:1em
        color:#666
        background-color: #FFF
        padding: 0px 5px
    select:not([value=""]):valid ~ label,
    select:focus ~ label
        top: 8px
        font-size:1em
        color:#666
        background-color: #FFF
        padding: 0px 2px
    select
        appearance: auto
    label
        position:absolute
        left: 15px
        top: 26px
        color:#999
        font-size: 1.3em
        font-weight:normal
        pointer-events:none
        transition: 0.2s ease all