@charset "UTF-8"

@import "../geral/resetar.styl"
@import "../geral/variaveis.styl"
@import "../geral/mixins.styl"
@import "../geral/cor.styl"
/* PLUGINS*/
@import "../geral/Loading.class.styl"
@import "../geral/Contato.class.styl"
@import "../geral/Pagina.class.styl"
@import "../geral/Formulario.class.styl"
@import "../geral/Alerta.class.styl"
@import "../geral/Ajuda.class.styl"
@import "../geral/cor.styl"
@import "../geral/plugins.styl"

html,
body
    overflow-x:hidden

body
    background: #d7d7d7
    font-family: 'Mulish', sans-serif
    font-size: 62.5%
    overflow-x: hidden
a
    cursor: pointer !important
    text-decoration: none

icone(site, 1)

i:after
    width: 100%
    height: 100%
    text-align: center
    content: attr(data-font)
    font-family: site

#site
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    position: relative


/*
    ANIMAÇÕES
*/
.fade-in
    animation: fadeIn ease 20s
.fadeInDown
    animation: fadeInDown ease 1s

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fadeInDown
    0%
        opacity: 0
        transform: translateY(-20px)

    100%
        opacity: 1
        transform: translateY(0)

@keyframes moveImagem
    0%
        left: 0
    100%
        left: -2850px

.centro
    width: 100%
    max-width: 1200px


#conteudo_principal
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    .centraliza--conteudo_principal
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        position: relative

@media screen and (max-width: 1300px)
    #conteudo_principal
        width: 100%
        justify-content: center
        .centraliza--conteudo_principal
            min-height: calc(100vh - 200px)

header.header_pagina
    width: 100%
    max-width: 1000px
    margin: 20px 0 40px 0
    padding-bottom: 20px
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    &::after
        width: 100%
        max-width: 100px
        height: 3px
        content: " "
        position: absolute
        bottom: 5px
        background-color: $amarelo_padrao
    h1
        width: 100%
        text-align: left
        font-size: 3.0em
        font-weight: 400
        color: $azul_padrao
    p
        line-height: 1.5em
        margin-top: 5px
        font-size: 1.8em
        color: #333
        text-align: left

.titulo_padrao
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    max-width: 300px
    h2
        font-size: 1.5em
        line-height: 1.5em
        padding-bottom: 5px
        color: #666
        text-align: center
    .linha
        height: 2px
        position: relative
        display: flex
        align-items: center
        justify-content: center
        &:after
            content: ''
            display: block
            width: 56px
            height: 100%
            position: absolute
            top: 0
            background-color: #000000
    h1
        font-size: 36px
        line-height: 1.5em
        color: #000000
        text-align: center
        margin-top: 10px

.titulo_padrao_esquerdo
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: column
    max-width: 300px
    .linha
        width: 300px
        height: 2px
        display: flex
        align-items: flex-start
        justify-content: flex-start
        position: relative
        &:after
            content: ''
            display: block
            width: 56px
            height: 100%
            position: absolute
            top: 8px
            left: 0px
            text-align: left
            background-color: #FFF
    h1
        font-size: 2.5em
        line-height: 1.5em
        color: #000000
        text-align: center
        margin-top: 10px

.bloco_banner--padrao
    width: 100%
    height: 505px
    position: relative
    border-top: 5px solid #D7D7D7
    box-shadow__padrao--suave()
    &:hover .controlador
        opacity: 1
    &.localiza
        width: 100%
        height: 400px
        box-shadow: none
        border-top: none
    .controle
        position: absolute
        margin: 0 auto
        bottom: -40px
        left: 50%
        display: table
        z-index: 10
    .controle li 
        width: 12px
        height: 12px
        float: left
        margin: 0 5px
        background-color: $cor
        cursor: pointer
        border-radius: 100%
        background-color: #5B9BF3
        opacity: 0.3
    .controle li:hover 
        background-color: $cor !important
        opacity: 1
    .controle li.hover 
        background-color: $cor !important
        opacity: 1
    figure
        width: 100%
        height: 500px
        position: absolute
        top: 0
        left: 0
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        display: none
        opacity: 0
        border-radius: 2px
        &:first-child
            display: block
            opacity: 1
    figure header
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.2)
        color: #FFF
        padding: 20px 20px 50px 20px
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: flex-end
    figure header h1
        width: 100%
        font-weight: 900
        font-size: 4.0em
        text-shadow: 2px 2px 3px rgba(0,0,0,.7)
    figure header p
        width: 100%
        line-height: 1.3em
        text-shadow: 1px 1px 3px #000
        font-size: 2.0em
        margin-top: 8px
    figure a
        width: 100%
        height: 100%
        position: absolute
        float: left
        top: 0
        left: 0
        z-index: 2
    .controlador
        width: 50px
        height: 80px
        line-height: 80px
        position: absolute
        top: 50%
        opacity: 0
        z-index: 2
        font-size: 40px
        text-align: center
        cursor: pointer
        text-shadow: 1px 1px 0 #FFF
        transition: opacity .3s ease-out
    .controlador.next
        left: 20px
        background: url('../images/seta_esquerda.png') no-repeat
    .controlador.prev
        right: 0
        background: url('../images/seta_direita.png') no-repeat

.bloco_banner--padrao.localiza
    figure
        height: 350px
    .controlador
        top: 40%
    .bloco_banner--padrao .controlador.next
        left: 0px

#widget_wpp
    position: fixed
    cursor: pointer
    bottom: 0
    right: 30px
    top: 90%
    z-index: 9999
    a
        font-size: 3em
        padding: 10px 15px
        border-radius: 50%
        background: linear-gradient(to left top,#23ab23,#4ee74e)
        box-shadow: 0 1px 15px rgb(32 33 36 / 28%)
        color: #fff


#sobre
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: center
    position: relative
    padding-top: 170px
    padding-bottom: 50px
    .quadrado
        position: absolute
        left: 0
        top: 40px
        width: 78px
        height: 115px
        background: url('../images/quadrado_sobre.png') no-repeat top left
    .conteudo
        width: 100%
        max-width: 1000px
        display: flex
        align-items: flex-start
        justify-content: center
    .esquerdo
        max-width: 400px
        display: flex
        align-items: flex-start
        justify-content: flex-start
        position: relative
        flex-direction: column
        margin-right: 30px
        h1
            font-style: normal
            font-weight: bold
            font-size: 3.5em
            line-height: 56px
            color: #000
        p
            font-style: normal
            font-weight: 300
            font-size: 1.7em
            line-height: 32px
            color: #7D7987
            padding-right: 70px
            margin-top: 20px
        a
            padding: 10px 40px
            background: #17567F
            border-radius: 55px
            font-size: 1.4em
            color: #FFF
            margin-top: 20px
    .direito
        figure img
            height: 400px

@media screen and (max-width: 1030px)
    #sobre
        padding: 0px 20px
        margin-top: 100px
        .direito figure img
            height: 340px
        .esquerdo p
            padding-right: 0px
            justify-content: center
@media screen and (max-width: 900px)
    #sobre
        margin-top: 100px
    #sobre .direito
        display: flex
        align-items: center
        justify-content: center
        z-index: 100
        figure img
            height: 270px
    #sobre .conteudo
        align-items: center
        justify-content: center

@media screen and (max-width: 800px)
    #sobre .conteudo
        flex-direction: column-reverse
    #sobre .esquerdo
        margin-top: 40px
        align-items: center
        justify-content: center
        margin-right: 0px
        p
            text-align: center

#especialidade
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    margin-top: 100px
    padding-bottom: 100px
    background: linear-gradient(0deg, #D7D7D7, #FFFFFF 90%) no-repeat
    .bg
        position: absolute
        left: 0px
        top: -50px
        width: 70%
        height: 100%
        background: url('../images/bg_especialidade.png') no-repeat top left 
        background-size: contain
    .titulo_padrao
        margin-bottom: 40px
    .conteudo
        width: 100%
        max-width: 1200px
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap:wrap
        position: relative
        .quadrado
            position: absolute
            right: 50px
            top: 0px
            width: 78px
            height: 115px
            background: url('../images/quadrado_especilidade.png') no-repeat top left
            -webkit-transform: rotate(90deg)
            -moz-transform: rotate(90deg)
            -ms-transform: rotate(90deg)
            -o-transform: rotate(90deg)
            transform: rotate(90deg)
        article
            col(3, 20px)
            margin-bottom: 50px
            position: relative
            min-height: 320px
            a
                width: 100%
                height: 100%
                position: absolute
                top: 0px
                left: 0px
                right: 0px
                bottom: 0px
                cursor: pointer
            figure img
                height: 160px
                border-top-left-radius: 20px
            h1
                font-style: normal
                font-weight: bold
                font-size: 2.2em
                line-height: 56px
                color: #000000
                padding: 0px 30px
            p
                font-style: normal
                font-weight: 300
                font-size: 16px
                line-height: 1.5em
                color: #7D7987
                padding: 0px 30px
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                
@media screen and (max-width: 1000px)
    #especialidade
        padding-bottom: 0px
    #especialidade .conteudo
        width: calc(100% - 100px)
    #especialidade .conteudo article
        col(2, 10px)
        min-height: auto
    #especialidade .conteudo article.ultimo
        min-height: 320px
    #especialidade .bg
        width: 100%
        background: url(../images/bg_especialidade.png) no-repeat center

@media screen and (max-width: 800px)
    #especialidade .conteudo article figure img
        height: 130px
@media screen and (max-width: 670px)
    #especialidade .conteudo
        width: 100%
        justify-content: center
    #especialidade .conteudo article 
        width: calc(100% - 80px)
    #especialidade .conteudo article figure
        height: 100%
        display: flex
        align-items: center
        justify-content: center
    #especialidade .conteudo article figure img
        height: 160px
    #especialidade .conteudo article.ultimo
        min-height: 100px
@media screen and (max-width: 400px)
    #especialidade .conteudo article figure img
        height: 100%
        width: 100%

#agenda
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    background-color: #17567F
    .centro
        width: 100%
        max-width: 1200px
        display: flex
        align-items: flex-start
        justify-content: center
        margin-top: 100px
        margin-bottom: 100px
    .centro .esquerdo
        width: 50%
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-direction: column
        text-align: left
        .titulo_padrao_esquerdo
            max-width: 100%
        h1
            color: #FFF
            font-weight: bold
            margin-top: 0px
        ul
            margin-top: 40px
            li
                color: #FFF
                font-size: 18px
                line-height: 30px
        p
            font-size: 18px
            line-height: 30px
            color: #FFFFFF
            text-align: left
            &.margin
                margin-top: 40px
                margin-bottom: 40px
    .centro .direito
        width: 50%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        .link
            height: 380px
            display: flex
            align-items: center
            justify-content: center
        .link a
            padding: 20px 60px
            background:#fff
            border-radius: 55px
            font-size: 1.4em
            color:#17567f
            &:hover
                filter: brightness(0.9)

@media screen and (max-width: 1225px)
    #agenda .centro
        padding: 0px 20px
@media screen and (max-width: 870px)
    #agenda .centro
        align-items: center
        justify-content: center
        flex-direction: column
        .direito .link
            margin-top: 50px
            height: auto
        .direito
        .esquerdo
            width: 100%
            justify-content: center
    #agenda .centro .direito form input, #agenda .centro .direito form textarea
    #agenda .centro .direito form label
    #agenda .centro .direito form button
        width: 100%
        max-width: calc(100% - 40px)

#localizacao
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    padding-top: 100px
    .centro
        width: 100%
        max-width: 1000px
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-top: 50px
        margin-bottom: 100px
        position: relative
        .esquerdo
            max-width: 350px
            position: relative
            ul
                li
                    font-style: normal
                    font-weight: bold
                    font-size: 18px
                    line-height: 56px
                    color: #7D7987
            .quadrado
                position: absolute
                left: -40px
                top: -20px
                width: 78px
                height: 115px
                background: url('../images/quadrado_especilidade.png') no-repeat top left
                -webkit-transform: rotate(90deg)
                -moz-transform: rotate(90deg)
                -ms-transform: rotate(90deg)
                -o-transform: rotate(90deg)
                transform: rotate(90deg)
        .direito
            width: 500px
            height: 360px
            position: relative
            border: double 5px transparent
            background-image: linear-gradient(white,white), linear-gradient(to right, #b3b4b5, #A4A5A7)
            background-clip: padding-box, border-box
            background-origin: border-box
            figure img
                height: 393px
            a
                width: 100%
                height: 100%
                top: 0px
                left: 0px
                right: 0px
                bottom: 0px
                position: absolute
    .quadrado_footer
        position: absolute
        right: -50px
        bottom: -200px
        width: 78px
        height: 115px
        background: url('../images/quadrado_localizacao.png') no-repeat top left
        -webkit-transform: rotate(90deg)
        -moz-transform: rotate(90deg)
        -ms-transform: rotate(90deg)
        -o-transform: rotate(90deg)
        transform: rotate(90deg)

@media screen and (max-width: 1030px)
    #localizacao .centro
        padding: 0px 20px
@media screen and (max-width: 940px)
    #localizacao .centro
        flex-direction: column
        align-items: center
        justify-content: center
        .direito
            margin-top: 30px


.mobile
    display: none
.desktop
    display: flex
.h1_voltar
    padding-left: 20px
@media screen and (max-width: 1000px)
    .mobile
        display: flex
    .desktop
        display: none
    .h1_voltar
        padding-left: 0

.header-popup
    width: 100%
    height: 50px
    line-height: 50px
    display: flex
    flex-direction: row
    border-bottom: 1px solid $cor
    i
        width: 40px
        height: 50px
        text-align: center
        font-size: 2em
        cursor: pointer
        &.fechar
        &:after
            color: $cor
    h1
        font-size: 2em
        color: $cor
        flex-grow: 1
        flex-basis: 0%
        font-weight: bold
@media screen and (max-width: 1000px)
    .header-popup .h1_voltar
        font-size: 1.8em



.bloco-popup__botao
    width: 100%
    max-width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background-color: #EEE
    overflow-y: auto
    .bloco-popup__conteudo
        width: calc(100% - 20px)
        display: flex
        flex-direction: column
        margin-left: 10px
        margin-top: 10px
        margin-bottom: 10px
    .bloco-popup__conteudo
        color: #666
        padding: 10px
        p
            font-size: 1.5em
            line-height: 1.5em
        .container_video
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-bottom: 20px
        .container_video iframe
            width: 100%
            max-width: 600px
            min-height: 400px  
        .container_imagem
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-bottom: 20px
            
@media screen and (max-width: 600px)
    .bloco-popup__botao .bloco-popup__conteudo .container_imagem img
        width: 100%



#parceiro
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    .lista
        width: 100%
        max-width: 1200px
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: center
        article
            col(7, 10px)
            height: 120px
            padding: 20px
            figure    
                width: 100%
                max-width: 110px
                margin: 0 auto
                height: 100%
                background-size: 80%
                background-position: center center
                background-repeat: no-repeat
                background-color: #fff
                z-index: 1

@media screen and (max-width: 800px)
    #parceiro .lista article
        col(4,10px)

@media screen and (max-width: 500px)
    #parceiro .lista article
        col(3,10px)

@media screen and (max-width: 400px)
    #parceiro .lista article
        col(2,10px)


#contato
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    background:  #C9C9C9
    background: linear-gradient(to left, #D9D9D9,  #C9C9C9) 
    .centro
        width: 100%
        max-width: 1000px
        display: flex
        align-items: flex-start
        justify-content: center
        margin-top: 80px
        padding-bottom: 80px
    .centro .esquerdo
        width: 50%
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-direction: column
        text-align: left
        .titulo_padrao_esquerdo
            max-width: 100%
            .linha:after
                background: $cor
        h1
            color: $cor
            font-weight: bold
            margin-top: 0px
        ul
            margin-top: 40px
            li
                display: flex
                flex-direction: column
                color: $cor
                font-size: 18px
                font-weight: bold
                line-height: 30px
                margin-bottom: 20px
        p
            font-size: 18px
            line-height: 30px
            color: #333
            text-align: left
            &.margin
                margin-top: 40px
                margin-bottom: 40px
    .centro .direito
        width: 50%
        display: flex
        align-items: flex-end
        justify-content: flex-end
        form
            width: 100%
            max-width: 430px
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            background-color: #FFFFFF
            box-shadow: 5px 10px 50px rgba(51, 51, 51, 0.2)
            border-radius: 20px
            z-index: 400
            h1
                font-family: 'Ubuntu', sans-serif
                font-style: normal
                font-weight: normal
                font-size: 20px
                line-height: 30px
                letter-spacing: 0.04em
                padding: 20px 0px
                color: #333333
            label
                width: 100%
                max-width: 340px
                font-family: 'Ubuntu', sans-serif
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 30px
                letter-spacing: 0.04em
                color: #999999
                text-align: left
            input
            textarea
                width: 100%
                max-width: 340px
                height: 40px
                opacity: 0.4
                border: 1px solid #666666
                box-sizing: border-box
                border-radius: 10px
                font-size: 16px
                font-family: 'Ubuntu', sans-serif
                line-height: 26px
                text-align: center
                letter-spacing: 0.04em
                color: #333
                margin-bottom: 20px
                text-align: left
                padding-left: 20px
            textarea
                height: 95px
                padding-top: 10px
            button
                width: 340.81px
                height: 46.67px
                background: #17567F
                font-family: 'Ubuntu', sans-serif
                color: #FFFFFF
                font-size: 16px
                line-height: 26px
                border-radius: 10px
                margin-bottom: 30px

@media screen and (max-width: 1125px)
    #contato .centro
        padding: 0px 20px 80px 20px
@media screen and (max-width: 870px)
    #contato .centro
        align-items: center
        justify-content: center
        flex-direction: column
        .direito form
            margin-top: 40px
        .direito
        .esquerdo
            width: 100%
            justify-content: center
        .esquerdo
            align-items: center
            p
                text-align: center
            .titulo_padrao_esquerdo
                align-items: center
                justify-content: center
                .linha
                    align-items: center
                    justify-content: center
                    &:after
                        left: auto
    #contato .centro .direito form input, #contato .centro .direito form textarea
    #contato .centro .direito form label
    #contato .centro .direito form button
        width: 100%
        max-width: calc(100% - 40px)

                    
@import "template.styl"
